body {
    background-color: rgb(247, 210, 216);
}
.main img {
    width: 220px;
    height: 250px;
    transition-duration: 0.4s;
}

.main img:hover {
    width: 300px;
    height: 320px;
}

h1 {
   font-size: 30px;
font-family: 'Raleway', sans-serif;
text-align: center;
}

h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;

}

.main {
text-align: center;   
}

.main2 {
    text-align: center;
}

.main2 img {
    width: 600px;
    height: 400px;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: rgb(114, 114, 225);
}
a {
    text-decoration: none;
    color: black;
}


._main {
    display: flex;
    justify-content: center;
}
._main h1 {
    font-size: 12px;
    padding-left: 25px;
}
._main h1:hover {
    color: rgb(161, 114, 205);
}

.myworks {
    text-align: center;
    padding: 15px 0 15px;

}
.myworks img {
    width: 285px;
    height: 200px;
    transition-duration: 0.6s;
}

.myworks img:hover {
   width: 320px;
   height: 220px;
   
}




.wave {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
 .wave_1 {
    background: url(wave.png) repeat-x;
    width: 7000px;
    height: 300px;
    animation: waves 15s infinite linear;
 }



 @keyframes waves {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1938px;
    }
 }


 .works {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 10px 10px 10px;
 }


.imgg {
    width: 500px;
    height: 300px;
    text-align: center;
}

.sait {
    color: rgb(169, 126, 210);
}


@media screen and (max-width: 400px){

.body {
    width: 375px;
}
.main {
    width: 375px;
}
.main h1 {
    font-size: 10px;
}
.main img {
    width: 200px;
    height: 200px;
}
.myworks img {
    width: 150px;
    height: 100px;
 text-align: center;
}

.def img {
    width: 200px;
    height: 100px;
}
hr {
    text-align: center;
}
}

@media screen and (max-width: 800px){
    hr {
        text-align: center;
    }
}

@media screen and (max-width: 360px){
    .main {
        width: 350px;
    }
    hr {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .main {
        width: 400px;
    }
    .main h1 {
        font-size: 15px;
    }
    .main h3 {
        font-size: 10px;
    }
    .main img {
        width: 200px;
        height: 200px;
    }
    .myworks img {
        width: 150px;
        height: 100px;
        text-align: center;
    }
    .def img {
        width: 250px;
        height: 150px;
    }
    hr {
        text-align: center;
    }
}
